Enter stars:
<p>TYPE:<%= params[:type]%></p>
<p>USER_ID:<%= params[:user_id]%></p>
<p>MOVIE_ID:<%= params[:id]%></p>


<%= form_tag(users_path(:user_id => params[:user_id],:type => params[:type],:id => params[:id]), method: "post") do%>
   Enter Stars: <%= text_field_tag(:stars) %>
  <%= submit_tag("Rate") %>
  <% end %>

~                                    
